.container{
    width: 200px;
    height: 200px;
    background-color: rgb(5, 247, 134);
    border-radius: 3px;
    position: relative;
    
}
.container .center{
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    /* -ms-transform: translate(-50%, -50%); */
    transform: translate(-50%, -50%);
    border-radius: 1px;


    
}
.container .line{
    margin: 5px;
    border-radius: 3px;
    width: 40px;
    height: 5px;
    background-color: white;
}
.container .line-1:hover{
background-color: red;
    
    

}
.container .line-2{
   
}
.container .line-3{
   
   

}